[Unit]
Description=Wydawajka
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/wydawajka
EnvironmentFile=/root/wydawajka/.env
ExecStart=/root/.nvm/nvm-exec npm run start
Environment="NODE_VERSION=23"
Restart=always
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target